In [1]:
import pandas as pd
import numpy as np

In [5]:
data = pd.read_excel('provinsi.xlsx')

In [6]:
data

                         prov  2010  2011  2012  2013  fourty  2015
0                        Aceh  1517  2298  1275  1046    2120  3462
1              Sumatera Utara  2065  1379  1100  1679    1658  3190
2              Sumatera Barat  1020  2195  1838  1662    2132  2007
3                        Riau  1726  1857  1715  1069    2151  3251
4                       Jambi  1038  1824  2008  2160    2389  2077
5            Sumatera Selatan  2041  1158  1073  1335    1702  3163
6                    Bengkulu  1758  1252  1030  1235    2476  2864
7                     Lampung  1719  1410  1756  2410    1583  2043
8   Kepulauan Bangka Belitung  2335  2335  2197  1372    2403  2299
9              Kepulauan Riau  1472  1056  2492  1649    1368  2397
10                DKI Jakarta  1733  2496  2053  2230    2223  2137
11                 Jawa Barat  1243  1650  2380  1756    2161  2413
12                Jawa Tengah  2196  1362  2087  2223    1649  2171
13              DI Yogyakarta  2490  2162  1292  1674    2138  2299
14                 Jawa Timur  1242  2131  2111  1836    1674  3061
15                     Banten  1358  1910  2310  2104    2070  3290
16                       Bali  2210  2406  2366  2300    2293  2880
17        Nusa Tenggara Barat  2427  1131  1989  1452    1434  3941
18        Nusa Tenggara Timur  1182  1627  2213  1757    1762  3402
19           Kalimantan Barat  1775  1449  1735  1319    1107  3177
20          Kalimantan Tengah  1923  2194  1936  1074    2107  2061
21         Kalimantan Selatan  1503  1880  2432  1976    2024  2538
22           Kalimantan Timur  1034  2030  1942  1597    1368  2000
23             Sulawesi Utara  1983  1666  1840  1831    1244  2245
24            Sulawesi Tengah  1526  1720  2392  1815    1811  3741
25           Sulawesi Selatan  1666  1251  2007  1807    1006  2518
26          Sulawesi Tenggara  2140  2109  1289  1039    1013  3125
27                  Gorontalo  1356  1867  2359  1466    1189  2505
28             Sulawesi Barat  1665  1315  2197  2134    1395  2736
29                     Maluku  1641  1543  1262  2123    2245  3444
30               Maluku Utara  2469  1237  1872  2249    2389  3403
31                Papua Barat  1484  2002  2183  1032    2044  2150
32                      Papua  1399  2164  1594  2122    1539  2498

# data cleaning

In [7]:
data.isnull().sum()

prov      0
2010      0
2011      0
2012      0
2013      0
fourty    0
2015      0
dtype: int64

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   prov    33 non-null     object
 1   2010    33 non-null     int64
 2   2011    33 non-null     int64
 3   2012    33 non-null     int64
 4   2013    33 non-null     int64
 5   fourty  33 non-null     int64
 6   2015    33 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.9+ KB

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   prov    33 non-null     object
 1   2010    33 non-null     int64
 2   2011    33 non-null     int64
 3   2012    33 non-null     int64
 4   2013    33 non-null     int64
 5   fourty  33 non-null     int64
 6   2015    33 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.9+ KB

In [13]:
data.to_excel('provinsi_cl.xlsx')

#  Visualisasi

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(17,10))

plt.subplot(2,2,1)
sns.barplot(x='prov', y='fourty', data=data.groupby(data['prov']).sum().fourty.reset_index(), palette='Purples_r')
plt.ylabel('Total Data')
plt.xlabel('Provinsi')
plt.xticks(rotation=80)
plt.title('Mama Tau Sendiri')